.home {
    text-align: center;
}

.home-header {
    background-color: var(--bone);
    color: var(--bone);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-image: url('../../djs.gif');
    background-size: 100% 100%;
    opacity: 0.5;
    letter-spacing: 2px;
}