:root {
  /*Color pallete*/
  --reseda-green: #707140ff;
  --bone: #ded2bcff;
  --field-drab: #735b30ff;
  --reseda-green-2: #6c723cff;
  --khaki: #bfb398ff;
}

.app{
  font-family: 'Climate Crisis', sans-serif;
}

.logo {
  height: 15vmin;
  pointer-events: none;
}


.link {
  color: #61dafb;
}